---
   import Button from "../shared/Button.astro";
   import Container from "../shared/Container.astro";
   import Paragraph from "../shared/Paragraph.astro";
   
---


<script>
  import gsap from "gsap";

  // Esperamos a que el DOM esté cargado
 document.addEventListener("DOMContentLoaded", () => {
    const titulo = document.querySelector<HTMLHeadingElement>(".titulo");

    if (!titulo) return; // 🔒 seguridad ante null

    const tl = gsap.timeline()

    tl.from(titulo, { opacity: 0, y: 40, duration: 1 })
      .to(titulo, { opacity: 0, duration: 0.6, delay: 2 })
      .call(() => {
        titulo.textContent = "Disfruta de la experiencia";
      }) // ✅ la callback no devuelve nada
      .to(titulo, { opacity: 1, duration: 2 })
      .call(() => {
        titulo.textContent = "LOGÍSTICA INTEGRAL";
      }) // ✅ la callback no devuelve nada
  });
</script>


<div
  class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2 text-slate-300"
>
  <h1
    class="frase h_1 text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
  >
    SOLUCION DE <span
      class="titulo text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
      >LOGÍSTICA INTEGRAL</span
    > PARA TU EMPRESA.
  </h1>
  <div class="flex flex-col">
    <h2 class="mt-8">
      Transporte, almacenaje, manipulado y distribución eficiente
    </h2>
    <p>
      En <span
        class="text-transparent bg-clip-text font-black bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
        >Actividades Logísticas del Vallés</span
      > ofrecemos soluciones de almacenaje, logística y manipulado según las necesidades
      específicas de cada cliente. Ubicación Estratégica en Barcelona Estamos ubicados
      en Granollers a 20 km
    </p>
  </div>
  <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
    <div class="flex sm:flex-row flex-col gap-5 w-full">
      <form
        action="#"
        class="py-1 pl-6 w-full pr-1 flex gap-3 items-center text-heading-3 shadow-lg shadow-box-shadow
                      border border-box-border bg-box-bg rounded-full ease-linear focus-within:bg-body focus-within:border-primary"
      >
        <span class="min-w-max pr-2 border-r border-box-border">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
            ></path>
          </svg>
        </span>
        <input
          type="email"
          name=""
          id=""
          placeholder="johndoe@gmail.com"
          class="w-full py-3 outline-none bg-transparent"
        />
        <Button variant={"primary"} className={"min-w-max text-white"}>
          <span class="hidden sm:flex relative z-[5]"> Get Started </span>
          <span class="flex sm:hidden relative z-[5]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              ></path>
            </svg>
          </span>
        </Button>
      </form>
    </div>
  </div>
</div>
